.search-container{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    max-width: 750px;
    margin: 0 auto;
}
.searchby>*{
    display: inline;
}
.searchby{
    align-self: flex-end;
    margin-top: 40px;
}

.searchbar-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#searchbar{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 1rem;
}
#searchBtn{
    margin-top: 1em;
    width: 100%;
    color: white;
    height: 40px;
    background-color:  var(--maroon);
}
.search-grid{
    display: grid;
    grid-template-columns: repeat(3, 245px);
    width: 100%;
    justify-content: space-between;
    margin-top: 1em;
}
.search-placard{
    margin: 7.5px 0 0 0;
    height: 245px;
    position: relative;
    text-align: center;

}
.search-placard img{
    width: 100%;
    height: 100%;
}